<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="main">
  <!--top logo -->
  <div class="logo">
    <img src="assets/icon/Group.png">
  </div>
  <!--changepassword  form -->
  <div class="form-area">
    <form [formGroup]="passwordUpadateForm">

      <ion-list>

        <ion-item no-lines>
          <ion-label stacked *ngIf="oldPassword.hasError('required') && oldPassword.touched" text-wrap style="color:red;">*Please enter Old Password</ion-label>
          <ion-input [formControl]="oldPassword" type="password" placeholder="Old Password" (change)="validatePwd()" required></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked *ngIf="newPassword.hasError('required') && newPassword.touched" text-wrap style="color:red;">*Please enter New Password</ion-label>
          <ion-input [formControl]="newPassword" type="password" placeholder="New Password" required></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked *ngIf="newcPassword.hasError('required') && newcPassword.touched" text-wrap style="color:red;">*Please enter Confirm Password</ion-label>
          <ion-input [formControl]="newcPassword" type="password" placeholder="Confirm Password" (change)="checkMatch()" required></ion-input>
        </ion-item>
        <button
          class="item-margin-top-8 radius-8 signinbtn"
          type="submit" icon-right ion-button
          block (click)="updatepassword()">submit</button>
      </ion-list>
    </form>
  </div>
</ion-content>
