page-changepassword {
  .main{
    background-image: url('../../assets/icon/background2.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .logo{
    text-align: center;
    padding-top:14%;
  }
  .list-ios .item-ios[no-lines]{
    margin:0 0 10% 0;
    font-family: inherit;
    border-radius: 10px;
  }
  .signinbtn{
    background-color: #fecb32;
    opacity: 1 !important;
    font-family: segoeprb;
    font-weight: 700;
    border-radius: 10px;
  }
  .form-area{
    margin-top: 22%;
  }
  .scroll-content {
    padding-bottom: 0 !important;
  }
}
