page-popup {
    .sample-modal-page {
      padding: 30px;
      background: rgba(0,0,0,0.5);
  }
  .popcontent{
    text-align: center;
  }
  .signinbtn{
    background-color: #e0e00b;
    opacity: 1 !important;
    font-family: inherit;
    font-style: italic;
    font-weight: 700;
    border-radius: 10px;
    color: black;
  }
}
