<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>FORGOT PASSWORD</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="main">
  <!--top logo -->
  <div class="logo">
    <img src="assets/icon/Group.png">
  </div>

  <!--signup form -->
  <div class="form-area">
    <form [formGroup]="resetForm">

      <ion-list>

        <ion-item no-lines>
          <ion-label stacked *ngIf="email.hasError('required') && email.touched" text-wrap style="color:red;">* Please Enter Registered Email Address</ion-label>
          <ion-label stacked text-wrap style="color:red;" *ngIf="!email.hasError('required') && email.touched && !email.valid">* Email is invalid!</ion-label>
          <ion-input [formControl]="email" type="email" placeholder="Email" required></ion-input>
        </ion-item>

        <button
          class="item-margin-top-8 radius-8 signinbtn"
          type="submit" icon-right ion-button
          block (click)="reset()">Reset password</button>
      </ion-list>
    </form>
  </div>

</ion-content>
