page-forgotpassword {
  .main{
    background-image: url('../../assets/icon/background2.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .logo{
    text-align: center;
    padding-top: 9%;
  }
  .signinbtn{
    background-color: #fecb32;
    opacity: 1 !important;
    font-family: segoeprb;
    font-weight: 700;
    border-radius: 10px;
  }
  .list-ios .item[no-lines]{
    margin:0 0 6% 0;
    font-family: inherit;
    border-radius: 10px;
  }
  .toolbar-background-ios {
    background: #9ed5d2;
  }
  .toolbar-content-ios {
    margin: 0 0 0 7%;
  }
  .item-label-stacked .text-input-ios, .item-label-floating .text-input-ios {
    margin-top: 4%;
  }
}
